<div class="container-fluid">
  <div class="alert alert-{{Color}} alert-dismissible fade show" [hidden]="AlertVal" role="alert">
    {{Message}}
    <button type="button" class="btn-close" [hidden]="AlertVal" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

<div class="container-lg p-5">
  <form class="justify-content-center" [formGroup]="SignUpForm" (ngSubmit)="SignUp()">
    <div class="col-md-10">
      <div class="input-group d-flex justify-content-center ">
        <label for="imageupload" class="mx-5">
          <img [src]="!image ? imagedata_1 : image" class="rounded-circle" alt="Cinque Terre" width="150" height="150" />
        </label>
        <input type="file" (change)="onFileSelected($event)" accept="image/*" id="imageupload"  formControlName="Image"
          style="display: none; visibility: hidden" />
      </div>
    </div>

    <div class="row g-3 p-3">
      <div class="col-md-6">
        <label for="firstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="firstName" formControlName="FirstName">
      </div>
      <div class="col-md-6">
        <label for="lastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="lastName" formControlName="LastName">
      </div>
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input type="text" class="form-control" id="email" formControlName="Emial">
      </div>
      <div class="col-md-6">
        <label for="Password" class="form-label">Password</label>
        <div class="input-group">
          <input [type]="hide ? 'password' : 'text'" class="form-control" formControlName="Password"
            aria-describedby="passwordHelpInline" size="30">
          <button class="btn btn-outline-primary" type="button" (click)="Shoandhide()">
            <i [className]="hide ? 'bi bi-eye-slash':'bi bi-eye'"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-auto p-3">
        <button type="submit" class="btn btn-outline-primary" [disabled]="SignUpForm.invalid">Sign in</button>
      </div>
    </div>
  </form>
</div>
