<div class="container mt-4 text-center"  *ngIf="FriendList.length == 0">
  <h1>No Friend Request</h1>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div *ngFor="let item of FriendList">
        <div class="card mb-3">
          <div class="card-body d-flex align-items-center">
            <img src="https://localhost:44329/resources/{{item.image}}" alt="User 1" class="user-image rounded-circle me-3" width="50" height="50">
            <div>
              <h5 class="card-title">{{item.firstName}} {{item.lastName}}</h5>
              <p class="card-text">{{item.email }}</p>
            </div>
            <div class="ms-auto">
              <button class="btn btn-warning me-2" (click)="Remove(item.userId)">Remove</button>
            </div>
          </div>
        </div>
        <div>
        </div>
      </div>
    </div>
